.moinali{
background-color: black;
color: white;
}
.shadab{
    background-color: yellow;
}
.back{
    background-color: purple;
}
.btn{
    background-color: blue;
    border-color: black;
    border-width: 10px;
}
.bat{
    background-color: black;
    color: white;
}
.image{
    white-space: 1.0;
}